<div id="map" class="map" style="width: 100%; height: 500px; border: 1px solid black;"></div>

<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAcfgxK3IVzsLL4-KbX9VAc2RK54S8fMjE&callback=getCoordinates&v=weekly"
  defer
></script>

<%= render 'shared/footer' %>
